@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

/*START LOGO*/
#logo h1{
  font-family: 'Parisienne';
  font-weight: bold;
  font-size: 30px;
  position: relative;
}

sub{
  font-size: 10px;
  font-weight: 700;
  position: absolute;
  left: 64px;
  top: 0;
  color: #d82222;
}

#logo{
  width: 200px;
  height: 45px;
  background: #f8ce244d;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  margin-left: 2rem;
  margin-top: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*END LOGO*/
